---
layout: default.hbs
title: О квартале
---

<div class="container">
	<div class="page">
		
		<h1 class="page__title page__title--green">
			О жилом квартале «Протва Центр»
		</h1>
		
		<div class="row">
			<div class="col-xs-16 page__leftcolumn page--justify">
				
				<p>
					Новый квартал находится в г. Жуков вдоль улицы Ленина, которая является магистральной улицей микрорайона Протва. Сложившаяся <img align="left" src="images/content/main/img-1.png" width="266" height="150" alt="" />городская инфраструктура позволила разместить на участке 11 жилых домов, безопасные детские и спортивные площадки, удобные тратуары и места для парковки автомобилей. Специалисты постарались воплотить в проекте удобство, комфорт, свободу и безопасность – всё, что необходимо для приятной жизни в городе.
				</p>
				
				<p>
					Жилые дома спроектированы с использованием современных строительных технологий, позволяющих сохранить возможность перепланировки квартиры.
					
					<img align="right" src="images/content/main/img-2.png" width="266" height="150" alt="" />
					
					<br/>
					<span class="page__indent">
						Фасады домов выполненные в архитектурном стиле хай-тек с панорамными лифтами придают кварталу современный вид. Застекленые от пола до потолка лоджии (панорамное остекление) позволяют открыть живописные виды на город и инфраструктуру квартала.
					</span>
				</p>
				
				<img align="left" src="images/content/main/img-3.png" width="266" height="150" alt="" />
				
				<p>
					Квартал находится в экологически благоприятном окружении, имеет хорошее транспортное сообщение и шаговую доступность к местам повседневного спроса.
				</p>
				
			</div>
			<div class="col-xs-8 page__rightcolumn">
				
				<span class="page__title">
					Последняя новость
				</span>
				
				<section class="news">
					<article class="news__item">
						<span class="news__date">
							01.09.2015
						</span>
						<a class="news__title" href="#">
							Выберите квартиру сейчас
						</a>
						<p>
							При помощи нашего сайта вы можете ознакомиться с планировкой и выбрать квартиру уже сегодня.
						</p>
					</article>
					<a class="news__readmore" href="#">все новости</a>
				</section>
				
				<section class="panel panel--green">
					
					<div class="panel__content">
						<p>
							ЗАО «Ринг-Петролиум» сообщает о старте продаж квартир в новом жилом квартале «Протва Центр» по адресу: Калужская область, г.Жуков, ул. Ленина.
						</p>
						<p>
							Спрашивайте презентационные материалы в отделе продаж
						</p>
					</div>
					
					<img class="panel__img" src="images/content/developer/house-map.png" width="261" height="286" alt="" />
					
				</section>
				
			</div>
		</div>
		
	</div>
</div>

<div class="blue-bg">
	<div class="container fotorama-panel">
		<section class="fotorama fotorama_custom" 
				data-width="932" 
				data-height="530" 
				data-nav="thumbs" 
				data-margin="0" 
				data-thumbmargin="0" 
				data-thumbborderwidth="4" 
				data-navwidth="885" 
				data-thumbwidth="177" 
				data-thumbheight="100">
			<a href="images/slider/big/img-1-932x530.jpg">
				<img src="images/slider/small/img-1-177x100.jpg" width="177" height="100" />
			</a>
			<a href="images/slider/big/img-2-932x530.jpg">
				<img src="images/slider/small/img-2-177x100.jpg" width="177" height="100" />
			</a>
			<a href="images/slider/big/img-3-932x530.jpg">
				<img src="images/slider/small/img-3-177x100.jpg" width="177" height="100" />
			</a>
			<a href="images/slider/big/img-4-932x530.jpg">
				<img src="images/slider/small/img-4-177x100.jpg" width="177" height="100" />
			</a>
			<a href="images/slider/big/img-5-932x530.jpg">
				<img src="images/slider/small/img-5-177x100.jpg" width="177" height="100" />
			</a>
			<a href="images/slider/big/img-6-932x530.jpg">
				<img src="images/slider/small/img-6-177x100.jpg" width="177" height="100" />
			</a>
			<a href="images/slider/big/img-7-932x530.jpg">
				<img src="images/slider/small/img-7-177x100.jpg" width="177" height="100" />
			</a>
			<a href="images/slider/big/img-8-932x530.jpg">
				<img src="images/slider/small/img-8-177x100.jpg" width="177" height="100" />
			</a>
		</section>
	</div>
</div>

<footer class="color-footer green-bg">
	<div class="container">
		
		<span class="color-footer__title">
			Особенности жилого квартала
		</span>
		
		<section class="details">
			<span class="details__title">
				Развитая инфраструктура района
			</span>
			<ul class="details__list">
				<li class="details__item">
					Экологичность района
				</li>
				<li class="details__item">
					Хорошая транспортная доступность
				</li>
				<li class="details__item">
					Образовательные учреждения: школы, детские сады
				</li>
				<li class="details__item">
					Предприятия торговли: магазины, аптеки
				</li>
				<li class="details__item">
					Сфера обслуживания: развлекательные центры, салоны красоты, кафе, рестораны, клубы
				</li>
				<li class="details__item">
					Спортивно-оздоровительные комплексы
				</li>
			</ul>
			<span class="details__title">
				Комфорт
			</span>
			<ul class="details__list">
				<li class="details__item">
					Зеленый двор (скверы, газоны, клумбы)
				</li>
				<li class="details__item">
					Оснащение подъездов пандусами
				</li>
				<li class="details__item">
					Детские площадки
				</li>
				<li class="details__item">
					Парковка для автомобилей
				</li>
				<li class="details__item">
					Современные стеклопакеты на окнах
				</li>
				<li class="details__item">
					Улучшенная звуко- и теплоизоляция
				</li>
			</ul>
			<span class="details__title">
				Контроль качества и профессионализм исполнителей
			</span>
			<ul class="details__list">
				<li class="details__item">
					Сотрудничество с лучшими строительными компаниями
				</li>
				<li class="details__item">
					Многоступенчатый контроль качества строительства
				</li>
			</ul>
			<span class="details__title">
				Современные технологии и качественные материалы
			</span>
			<ul class="details__list">
				<li class="details__item">
					Современные технологии
				</li>
				<li class="details__item">
					Экологически безопасные материалы
				</li>
			</ul>
		</section>

	</div>
</footer>