---
layout: default.hbs
title: Главная страница
---

<div id="bg"></div>

<div class="container container--index-fixed">
	<div class="page">
		
		<div id="bird"></div>
		
		<article class="index-news">
			<span class="index-news__date">
				01.09.2015
			</span>
			<a class="index-news__link" href="#">
				<span class="decorate">Выберите квартиру сейчас+</span>
			</a>
		</article>
		
		<article class="index-news-special">
			<span class="index-news__date">
				01.09.2015
			</span>
			<a class="index-news__link" href="#">
				<span class="decorate">СПЕЦПРЕДЛОЖЕНИЕ</span>
			</a>
		</article>
		
		
		
		<a class="apartment-for-life" href="#">
			<img src="images/apartment-for-life.png" width="213" height="98" alt="Апартаменты для жизни" />
		</a>
		
	</div>
</div>
