---
layout: default-pdf.hbs
title: PDF
---

	<div class="pdf-page">
		
		<img class="pdf-page__logo" src="images/pdf/protva-logo.png" width="202" height="164" alt="" />
		
		<img class="pdf-page__vignette" src="images/pdf/top-vignette.png" width="433" height="122" alt="" />
		
		<div class="pdf-page__house-data">
			<p class="pdf-page__house-title">
				Дом № <strong>1</strong>, квартира № <strong>2</strong>
			</p>
			<p class="pdf-page__house-subtitle">
				Трехкомнатная квартира на 1 этаже.
			</p>
		</div>
		
		<img class="pdf-page__apartments" src="images/pdf/scheme-of-apartments-2.png" width="680" height="612" alt="" />
		
		<div class="pdf-page__type">
			<img class="pdf-page__type-img" src="images/pdf/sticker.png" width="307" height="88" alt="" />
			<span class="pdf-page__type-title">
				В продаже
			</span>
		</div>

		<div class="pdf-page__info">
			<img class="pdf-page__info-img" src="images/pdf/info.png" width="47" height="47" alt="" />
			<p>
				Уточнить стоимость этой квартиры на данный момент
				<br />
				и возможность её приобретения можно в отделе продаж:
			</p>
			<p>
				тел.: +7(48439) <span class="pdf-page__info-accent">5-06-08</span>, <span class="pdf-page__info-accent">+7(910)917-20-50</span>
				<br />
				e-mail: <a class="pdf-page__info-email" href="mailto:protva-centr@mail.ru">protva-centr@mail.ru</a>
			</p>
		</div>
		
		<div class="pdf-page__address">
			protva-centr.ru | Калужская область, г. Жуков, ул. Ленина, Жилой квартал “Протва Центр”
		</div>
		
		<div class="pdf-page__copyright">
			© 2015, Ринг Петролиум ЗАО. www.ring-petrolium.tk
		</div>
		
		<img class="pdf-page__vignette-bottom" src="images/pdf/bottom-vignette.png" width="99" height="279" alt="" />
		
	</div>

