---
layout: default.hbs
title: Территория
---

<div class="container">
	<div class="page">
		
		<h1 class="page__title">
			Территория
		</h1>
		
		<p>
			Новый квартал находится в г. Жуков вдоль улицы Ленина, которая является магистральной улицей микрорайона Протва. Сложившаяся городская инфраструктура позволила разместить на участке 11 жилых домов, безопасные детские и спортивные площадки, удобные тратуары и места для парковки автомобилей. Специалисты постарались воплотить в проекте удобство, комфорт, свободу и безопасность – всё, что необходимо для приятной жизни в спальном районе городе.
		</p>
		<p class="page__indent">
			Инфраструктура микрорайона сильно развита, в шаговой доступности располагаются: торговые и развлекательные центры, фастфуды, спортивный комплекс, банки, аптеки, поликлиника, детские сады, школы, почта, автозаправка и пр.
		</p>
		<p>
			<i class="icons icons-vignette"></i>Используйте указатели для ознакомления с особенностями инфраструктуры квартала.
		</p>
		
	</div>
</div>

<div class="territory-scheme">
	<div class="territory-scheme__map">
		
		<i class="icons icons-vignette territory-scheme__icons territory-scheme__icons--1" data-toggle="tooltip" data-placement="top" title="Спортивная площадка"></i>
		
		<i class="icons icons-vignette territory-scheme__icons territory-scheme__icons--2" data-toggle="tooltip" data-placement="bottom" title="Парковка"></i>
		
		<i class="icons icons-vignette territory-scheme__icons territory-scheme__icons--3" data-toggle="tooltip" data-placement="top" title="Детская площадка"></i>
		
		<i class="icons icons-vignette territory-scheme__icons territory-scheme__icons--4" data-toggle="tooltip" data-placement="bottom" title="Спортивная площадка"></i>
		
		<i class="icons icons-vignette territory-scheme__icons territory-scheme__icons--5" data-toggle="tooltip" data-placement="top" title="Детская площадка"></i>
		
		<i class="icons icons-vignette territory-scheme__icons territory-scheme__icons--6" data-toggle="tooltip" data-placement="bottom" title="Детская площадка"></i>
		
		<i class="icons icons-vignette territory-scheme__icons territory-scheme__icons--7" data-toggle="tooltip" data-placement="bottom" title="Спортивная площадка"></i>
		
		<img class="territory-scheme__img" src="images/content/scheme-of-settlement/img-1-2480x1830.jpg" width="2480" height="1830" alt="" />
		
	</div>
</div>
